<div th:replace="shared/header"></div>
 <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Employee</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post" th:action="${pageURI}">
              <div class="box-body">
                <div class="form-group">
                  <label for="InputName">Supplier name</label>
                  <input type="text" name="supplier_Name" class="form-control" id="supplierName" th:value="${record.name}" placeholder="Enter your name" required>
                </div>
                <div class="form-group">
                  <label for="InputContactNo">Contact Number</label>
                  <input type="tel" name="contactNo" class="form-control" id="ContactNo" th:value="${record.contact}" placeholder="Enter Phone number">
                </div>
                  <div class="form-group">
                  <label for="InputContactPerson">Contact Person</label>
                  <input type="text" name="contactPerson" class="form-control" id="ContactPerson" th:value="${record.contactPerson}"  placeholder="Enter Contact Person">
                </div>
                  <div class="form-group">
                  <label for="InputAddress">Address</label>
                  <input type="text" name="address" class="form-control" id="address" th:value="${record.address}" placeholder="Enter Address">
                </div>
                  <div class="form-group">
                  <input type="radio" name="panNo" value="pan" checked>Pan no
                  <input type="radio" name="vatNo" value="vat" >Vat no
                  </div>
                   <div class="form-group">
                  <label for="P/Vnumber">Pan or Vat Number</label>
                  <input type="number" name="P/VNumber" class="form-control" id="PVNumber" placeholder="Enter Pan or Vat Number">
                </div>
                  <div class="form-group">
                      <label for="Online">Online</label>
                  <input type="radio" name="online" value="yes" checked>Yes
                  <input type="radio" name="online" value="no">No
                  </div>
                  
                  
   
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.box -->

          <!-- Form Element sizes -->
          
<div th:replace="shared/footer"></div>